

            
<div >
  <!--first row-->


</div>
<h3 id="heading" style="padding-top: 20px ">About Us</h3>
<p style="text-align: center">made by two scrappy  Mcgill Students</p>
<div class="center-block" id="actions">
  <a href="javascript:void(0)" ng-click="reset()" class="btn btn-default  btn-raised alec" ></a>
  <a href="javascript:void(0)" ng-click="reset()" class="btn dom btn-default  btn-raised " style="width: 112; height: 112 !important;"></a>
</div>

<a href="javascript:void(0)" ng-click="go('/')" class="btn btn-default btn-fab btn-raised mdi-navigation-arrow-back" id="solve"></a>
