<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
   <button ng-click="logField()">log</button>


    
      <input type="text" name="input" id="inputBox"  ng-model="r00" ng-change="updateField(0,0,r00)">
      <input type="text" name="input"  id="inputBox"ng-model="r01" ng-change="updateField(1,0,r01)">
      <input type="text" name="input" id="inputBox" ng-model="r02" ng-change="updateField(2,0,r02)">

      <input type="text" name="input"  ng-model="r00" ng-change="updateField(1,3,r01)">
      <input type="text" name="input"  ng-model="r00" ng-change="updateField(0,0,r00)">
      <input type="text" name="input"  ng-model="r00" ng-change="updateField(1,0,r01)">
      <input type="text" name="input"  ng-model="r00" ng-change="updateField(0,0,r00)">
      <input type="text" name="input"  ng-model="r00" ng-change="updateField(1,0,r01)">

      {{field[0][0]}}

</div>
