<h1 style="text-align: center;">Solve It!</h1>
<div class="Grid">
  <!--first row-->
<div class="row noPadding " >
<div class="col-xs-3 col-sm-3 noPadding" >

  <!--first sq-->
    <div class="col-xs-3 col-sm-3 noPadding" >
       <sq dir-model="field[0][0]"></sq>
        <sq dir-model="field[1][0]"></sq>
        <sq dir-model="field[2][0]"></sq>

    </div>

    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[0][1]"></sq>
        <sq dir-model="field[1][1]"></sq>
        <sq dir-model="field[2][1]"></sq>
    </div>

     <div class="col-xs-3 col-sm-3 noPadding" >
        <sq dir-model="field[0][2]"></sq>
        <sq dir-model="field[1][2]"></sq>
        <sq dir-model="field[2][2]"></sq>
    </div>
  </div>
  <div class="col-xs-3 col-sm-3 noPadding" >

      <!--second sq-->

    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[0][3]"></sq>
        <sq dir-model="field[1][3]"></sq>
        <sq dir-model="field[2][3]"></sq>
    </div>
    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[0][4]"></sq>
        <sq dir-model="field[1][4]"></sq>
        <sq dir-model="field[2][4]"></sq>
    </div>
     <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[0][5]"></sq>
        <sq dir-model="field[1][5]"></sq>
        <sq dir-model="field[2][5]"></sq>
    </div>
  </div>
  <div class="col-xs-3 col-sm-3 noPadding" >

          <!--third sq-->

    <div class="col-xs-3 col-sm-3 noPadding" >
     <sq dir-model="field[0][6]"></sq>
        <sq dir-model="field[1][6]"></sq>
        <sq dir-model="field[2][6]"></sq>
    </div>
    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[0][7]"></sq>
        <sq dir-model="field[1][7]"></sq>
        <sq dir-model="field[2][7]"></sq>
    </div>
     <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[0][8]"></sq>
        <sq dir-model="field[1][8]"></sq>
        <sq dir-model="field[2][8]"></sq>
    </div>
  </div>
</div>
 <!--second row-->
<div class="row noPadding " >
<div class="col-xs-3 col-sm-3 noPadding" >

  <!--4th sq-->

    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[3][0]"></sq>
        <sq dir-model="field[4][0]"></sq>
        <sq dir-model="field[5][0]"></sq>
    </div>

    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[3][1]"></sq>
        <sq dir-model="field[4][1]"></sq>
        <sq dir-model="field[5][1]"></sq>
    </div>

     <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[3][2]"></sq>
        <sq dir-model="field[4][2]"></sq>
        <sq dir-model="field[5][2]"></sq>
    </div>
  </div>
  <div class="col-xs-3 col-sm-3 noPadding" >

      <!--second sq-->

    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[3][3]"></sq>
        <sq dir-model="field[4][3]"></sq>
        <sq dir-model="field[5][3]"></sq>
    </div>

    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[3][4]"></sq>
        <sq dir-model="field[4][4]"></sq>
        <sq dir-model="field[5][4]"></sq>
    </div>

     <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[3][5]"></sq>
        <sq dir-model="field[4][5]"></sq>
        <sq dir-model="field[5][5]"></sq>
    </div>
  </div>
  <div class="col-xs-3 col-sm-3 noPadding" >

          <!--third sq-->

    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[3][6]"></sq>
        <sq dir-model="field[4][6]"></sq>
        <sq dir-model="field[5][6]"></sq>
    </div>

    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[3][7]"></sq>
        <sq dir-model="field[4][7]"></sq>
        <sq dir-model="field[5][7]"></sq>
    </div>

     <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[3][8]"></sq>
        <sq dir-model="field[4][8]"></sq>
        <sq dir-model="field[5][8]"></sq>
    </div>
  </div>
</div>
<div class="row noPadding">
<div class="col-xs-3 col-sm-3 noPadding" >

    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[6][0]"></sq>
        <sq dir-model="field[7][0]"></sq>
        <sq dir-model="field[8][0]"></sq>
    </div>
    <div class="col-xs-3 col-sm-3 noPadding">

      <sq dir-model="field[6][1]"></sq>
        <sq dir-model="field[7][1]"></sq>
        <sq dir-model="field[8][1]"></sq>
    </div>
     <div class="col-xs-3 col-sm-3 noPadding">

      <sq dir-model="field[6][2]"></sq>
        <sq dir-model="field[7][2]"></sq>
        <sq dir-model="field[8][2]"></sq>
    </div>
     

      </div>
<div class="col-xs-3 col-sm-3 noPadding" >

    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[6][3]"></sq>
        <sq dir-model="field[7][3]"></sq>
        <sq dir-model="field[8][3]"></sq>
    </div>
    <div class="col-xs-3 col-sm-3 noPadding">

      <sq dir-model="field[6][4]"></sq>
        <sq dir-model="field[7][4]"></sq>
        <sq dir-model="field[8][4]"></sq>
    </div>
     <div class="col-xs-3 col-sm-3 noPadding">

      <sq dir-model="field[6][5]"></sq>
        <sq dir-model="field[7][5]"></sq>
        <sq dir-model="field[8][5]"></sq>
    </div>
   
</div>
<div class="col-xs-3 col-sm-3 noPadding" >

    <div class="col-xs-3 col-sm-3 noPadding" >
      <sq dir-model="field[6][6]"></sq>
        <sq dir-model="field[7][6]"></sq>
        <sq dir-model="field[8][6]"></sq>
    </div>
    <div class="col-xs-3 col-sm-3 noPadding">

      <sq dir-model="field[6][7]"></sq>
        <sq dir-model="field[7][7]"></sq>
        <sq dir-model="field[8][7]"></sq>
    </div>
     <div class="col-xs-3 col-sm-3 noPadding">

      <sq dir-model="field[6][8]"></sq>
        <sq dir-model="field[7][8]"></sq>
        <sq dir-model="field[8][8]"></sq>
    </div>
    
</div>

</div>
</div>
<button ng-click="clean();solveSudoku(field,0,0)"> solve</button>
<br><br>
 {{field[0]}}<br>
  {{field[1]}}<br>
   {{field[2]}}<br>
 {{field[3]}}<br>
  {{field[4]}}<br>
   {{field[5]}}<br>
    {{field[6]}}<br>
  {{field[7]}}<br>
   {{field[8]}}